@model Homy.Application.Dtos.UserDtos.UserSubDTOs.UserSubReadDTO

@{
    ViewData["Title"] = "تفاصيل الاشتراك";
}

<h2>تفاصيل الاشتراك</h2>

<table class="table table-bordered">
    <tr><th>الاسم</th><td>@Model.UserName</td></tr>
    <tr><th>اسم الباقة</th><td>@Model.PackageId</td></tr>
    <tr><th>تاريخ البدء</th><td>@Model.StartDate.ToShortDateString()</td></tr>
    <tr><th>تاريخ الانتهاء</th><td>@Model.EndDate.ToShortDateString()</td></tr>
    <tr><th>نشط</th><td>@Model.IsActive</td></tr>
    <tr><th>طريقة الدفع</th><td>@Model.PaymentMethod</td></tr>
    <tr><th>المبلغ المدفوع</th><td>@Model.AmountPaid</td></tr>
</table>
